[submodule "cookbooks/python"]
	path = cookbooks/python
	url = https://github.com/opscode-cookbooks/python.git
[submodule "cookbooks/memcached"]
	path = cookbooks/memcached
	url = https://github.com/opscode-cookbooks/memcached.git
