<header>
    <h1>{% trans %}Points of Interest nearby{% endtrans %}</h1>
    <h2>{% trans distance=within|humanise_distance, location=centre_point|reverse_geocode %}Searched within {{ distance }} of {{ location }}{% endtrans %}</h2>
</header>

{% if categories %}
<section>
    <p>Places in the following categories were found:</p>
    <ul>
        {% for category in categories %}
            <li>{{ category.render() }}</li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% if amenities %}
<section>
    <p>Places with the following facilities were found:</p>
    <ul>
        {% for amenity in amenities %}
            <li>{{ amenity.render() }}</li>
        {% endfor %}
    </ul>
</section>
{% endif %}