.weather-homepage-widget .weather-observation {
    margin: 0 auto;
    width: 220px;
}

.weather-homepage-widget .weather-observation .weather-summary {
    background-size: 64px 64px;
    float: left;
    margin: 0;
    padding-top: 70px;
    width: 64px;
}

.weather-homepage-widget .weather-observation .weather-detail {
    float: right;
    margin-top: 35px;
}

.weather-homepage-widget .weather-observation .weather-detail a {
    background-color: #FFE184;
    padding: 6px;
    text-decoration: none;
}

.weather-homepage-widget .weather-observation .weather-detail a:after {
    content: ' →';
}


@media (min-width: 320px) {

    .weather-homepage-widget .weather-observation {
        margin: 0 auto;
        width: 300px;
    }

    .weather-homepage-widget .weather-observation .weather-summary {
        background-size: 80px 80px;
        margin-left: 12px;
        padding-top: 90px;
        width: 80px;
    }
}


@media (min-width: 640px) {
    .weather-homepage-widget .weather-observation {
        margin: 0 0 0 190px;
    }
}
