.weather-homepage-widget .weather-observation {
    margin: 0 auto;
    padding-bottom: 1em;
    max-width: 220px;
}

.weather-homepage-widget .weather-observation:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}

.weather-homepage-widget .weather-observation .weather-summary {
    background-size: 64px 64px;
    float: left;
    margin: 0;
    padding-top: 70px;
    width: 64px;
}

.weather-homepage-widget .weather-observation .weather-detail {
    float: right;
}

.weather-homepage-widget .weather-observation .weather-detail a {
    background-color: #f0e6b1;
    padding: 6px;
    text-decoration: none;
}

.weather-homepage-widget .weather-observation .weather-detail a:after {
    content: ' →';
}


@media (min-width: 320px) {

    .weather-homepage-widget .weather-observation {
        margin: 0 auto;
        max-width: none;
        width: 340px;
    }

    .weather-homepage-widget .weather-observation .weather-summary {
        background-size: 80px 80px;
        margin-left: 12px;
        padding-top: 90px;
        width: 80px;
    }
}

@media (min-width: 600px) {
    .weather-homepage-widget .weather-observation {
        margin: 0;
    }
}

@media (min-width: 800px) {
    .weather-homepage-widget .weather-observation {
        margin: 0 0 0 190px;
    }
}
