.weather-observation {
    margin: 0 auto;
}

.weather-observation .weather-summary {
    background-repeat: no-repeat;
    background-size: 140px 140px;
    margin: 10px auto;
    max-width: 140px;
    padding-top: 150px;
    text-align: center;
}

.weather-observation .weather-clear_night {
    background-image: url('../../../img/weather/clear_night.svg');
}

.weather-observation .weather-cloud {
    background-image: url('../../../img/weather/cloud.svg');
}

.weather-observation .weather-fog {
    background-image: url('../../../img/weather/fog.svg');
}

.weather-observation .weather-rain {
    background-image: url('../../../img/weather/rain.svg');
}

.weather-observation .weather-snow {
    background-image: url('../../../img/weather/snow.svg');
}

.weather-observation .weather-sun {
    background-image: url('../../../img/weather/sun.svg');
}

.weather-observation .weather-thunder {
    background-image: url('../../../img/weather/thunder.svg');
}

.weather-observation .weather-detail dl {
    border-top: 1px solid #c3c3c3;
    margin: 0 auto 10px auto;
    max-width: 600px;
}

.weather-observation .weather-detail dt {
    float: left;
    margin: 0;
    padding: 6px;
}

.weather-observation .weather-detail dd {
    border-bottom: 1px solid #c3c3c3;
    margin: 0;
    padding: 6px;
    text-align: right;
}

.weather-observation aside {
    font-size: 0.8em;
    padding: 4px;
}

@media (min-width: 600px) {

    .weather-observation {
        margin: 10px auto 0 auto;
        width: 440px;
    }

    .weather-observation .weather-summary {
        background-size: 240px 240px;
        float: left;
        margin-top: 78px;
        max-width: 100%;
        padding-top: 250px;
        width: 240px;
    }

    .weather-observation .weather-detail dl {
        border: 0;
        margin-left: 320px;
    }

    .weather-observation .weather-detail dt {
        margin-left: 12px;
        width: 120px;
    }

    .weather-observation .weather-detail dd {
        background-color: #FFE184;
        border: 0;
        font-size: 2em;
        height: 120px;
        text-align: center;
        margin: 6px;
        width: 120px;
    }

    .weather-observation aside {
        text-align: center;
    }

}