.weather-observation {
  @include row();

  .weather-summary {
    @include column(6);
    background-position: 0 $xxlarge + $med;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 100%;

    @include respond(desktop) {
      padding-bottom: 440px;
    }

    p {
      font-size: $xxlarge;
      text-align: center;
    }
  }

  .weather-clear_night {
    background-image: url('../img/weather/clear_night.svg');
  }

  .weather-cloud {
    background-image: url('../img/weather/cloud.svg');
  }

  .weather-fog {
    background-image: url('../img/weather/fog.svg');
  }

  .weather-rain {
    background-image: url('../img/weather/rain.svg');
  }

  .weather-snow {
    background-image: url('../img/weather/snow.svg');
  }

  .weather-sun {
    background-image: url('../img/weather/sun.svg');
  }

  .weather-thunder {
    background-image: url('../img/weather/thunder.svg');
  }

  .weather-detail {
    @include column(6);
  }

  dl {
    text-align: center;
    @include respond(desktop) {
      margin-top: $med;
    }
  }

  dd {
    margin-bottom: $med;
  }

  .observation-details, .attribution {
    font-size: $small;
    text-align: center;
  }
}