<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}{{ body.title }}{% endblock %} - {% block site_title %}Molly Demo{% endblock %}</title>
    {% block inline_head %}
    {% assets bundle %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {% endblock inline_head %}
</head>
<body>
    <header>
        <h1><a href="/">{% block site_h1 %}Molly Demo{% endblock %}</a></h1>
        {% block header_extra %}{% endblock %}
    </header>
    <article>
        {% block body %}{{ body.render() }}{% endblock %}
    </article>
    <footer>
        <ul>
            <li><a href="{{ url_for('about') }}">{% block about_link_text %}About Molly{% endblock %}</a></li>
            <li><a href="{{ url_for('developers') }}">Information for Developers</a></li>
            <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
        </ul>
    </footer>
    <script src="{{ url_for('static', filename='js/vendors/require.js') }}"></script>
    <script>
        require.config({
            paths: {
                molly: '{{ url_for('static', filename='js/modules') }}',
                vendors: '{{ url_for('static', filename='js/vendors') }}',
                'vendor-styles': '{{ url_for('static', filename='style/vendors') }}'
            },
            map: {
                '*': {
                    'css': 'vendors/require-css'
                }
            },
            shim: {
                'vendors/geoPosition': {
                    exports: 'geoPosition'
                }
            }
        });
        define("config/static-base", function() { return "{{ url_for('static', filename='') }}" });
        require(['molly/loader'], function(loader) { loader.init() });
    </script>
</body>
</html>
