<!DOCTYPE html>
<html>
<head>
    <title>{{ body.title }} - {% block site_title %}Molly Demo{% endblock %}</title>
    {% assets bundle %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
</head>
<body>
    <header>
        <h1><a href="/">{% block site_h1 %}Molly Demo{% endblock %}</a></h1>
        {% block header_extra %}{% endblock %}
    </header>
    <article>
        {% block body %}{{ body.render() }}{% endblock %}
    </article>
    <footer>
        <ul>
            <li><a href="{{ url_for('about') }}">{% block about_link_text %}About Molly{% endblock %}</a></li>
            <li><a href="{{ url_for('developers') }}">Information for Developers</a></li>
            <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
        </ul>
    </footer>
    <script src="{{ url_for('static', filename='js/vendors/require.js') }}"></script>
    <script>
        require.config({
            paths: {
                molly: '{{ url_for('static', filename='js/modules') }}',
                vendors: '{{ url_for('static', filename='js/vendors') }}'
            }
        });
        require(['molly/loader'], function(loader) { loader.init() });
    </script>
</body>
</html>
