<section class="weather-observation">
    <div class="weather-summary weather-{{ weather_type_id }}">
        <p>{{ weather_type }}</p>
    </div>

    <div class="weather-detail">
        <dl>
            <dt>{{ _('Temperature') }}</dt>
            <dd>{{ temperature }}</dd>

            {% if not summary_only %}

                <dt>{{ _('Wind') }}</dt>
                <dd>
                    {% if gust_speed != 'N/A' %}
                        {% trans speed=wind_speed, direction=wind_direction, wind_gust=gust_speed %}{{ wind_speed }} (gusts {{ wind_gust }}) {{ wind_direction }} {% endtrans %}
                    {% else %}
                        {% trans speed=wind_speed, direction=wind_direction %}{{ wind_speed }} {{ wind_direction }} {% endtrans %}
                    {% endif %}
                </dd>

                <dt>{{ _('Pressure') }}</dt>
                <dd>{{ pressure }}</dd>

            {% endif %}

        </dl>

        {% if not summary_only %}
            <aside class="observation-details">
                {% trans location=observation_location, datetime=observation_time.strftime('%I:%M %p') %}Observation made at {{ location }} on {{ datetime }}{% endtrans %}
            </aside>
            {{ attribution.render() }}
        {% else %}
            <a href="{{ href }}">See more details</a>
        {% endif %}

    </div>
</section>
